.dateTile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  padding: 8px 8px;
}

.dateTileContent {
  width: calc(calc(640px - 14 * 8px) / 7);
  height: calc(calc(640px - 14 * 8px) / 7);
}

.calendar {
  width: 640px;
}

.ulWrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  flex-grow: 1;
  height: 100%;
}

.listContent {
  color: #333;
  background-color: rgba(255, 66, 66, 1);
  margin-bottom: 2px;
  font-size: 14px;
  height: 1.5em;
  overflow: hidden;
}

.modalBottom {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media(max-width: 639px) {
  .dateTile {
    font-size: 12px;
    padding: 4px 4px;
  }

  .listContent {
    font-size: 10px;
  }

  .dateTileContent {
    width: calc(calc(100vw - 14 * 4px - 16px) / 7);
    height: calc(calc(100vw - 14 * 4px - 16px) / 7);
  }

  .calendar {
    width: 100%;
  }
}