.wrapper {
  position: relative;
  width: 100%;
}

.textbox {
  font-size: 24px;
  width: 100%;
  border: none;
  border-bottom: solid 1px #555;
}

.validation {
  border-bottom: solid 1px #d11;
}

.textbox:focus {
  outline: none;
}


.label {
  position: absolute;
  color: #777;
  top: 3px;
  left: 4px;
  font-size: 18px;
  opacity: 0.8;
}

.textbox:focus + .label{
  top: -12px;
  font-size: 8px;
}

.entered {
  top: -12px;
  font-size: 8px;
}

.red {
  color: #d11;
}